<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        https://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--    配置注解的支持,注解驱动-->
    <context:annotation-config/>

<!--    指定要扫描的包，这个包下的注解就会生效,其实扫描包已经包含了注解驱动，所以使用扫描包时上面的语句可不用-->
    <context:component-scan base-package="com.zdk.pojo"/>



</beans>